body {
	background: #A1A1A1;
        margin:0px;
        padding: 0px;
}
h1 {
	color: greenyellow;
}
#date{
    
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid black 1px;
}
#menu li  {
    float: left;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    
}
#menu li a:hover { 
    background-color: #111;
    transition: 0.5s;
}

table{
    border: solid black 2px;
    margin: 100px 40px 40px 40px;
}
table tr{
    
}
table tr td {

}
tr :hover { 
    background: yellow;
}

#sidemenu{
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    opacity: 0.8;

}
#sidemenu li{

}

#sidemenu li a{
    color: white;
    text-decoration: none;
    padding: 20px;  
}
#sidemenu :hover {
    width: 150px;
    background: white;
}




